<h1>Edit Note</h1>

<%= form_for @note do |f| %>

    <p>
      <%= f.label :title, class: "form-label" %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :tag, class: "form-label" %>
      <%= f.text_field :tag %>
    </p>

    <p>
      <%= f.label :note, class: "form-label" %>
      <%= f.text_area :note, :class => "tinymce", :rows => 20, :cols => 100 %>
    </p>
    <p>
      <%= f.submit "Update Note", class: "form-button" %>
    </p>

<% end %>

<%= tinymce %>