<div id="note_container">
  <%= @note.created_at %>
<%= @note.title %>
<%= @note.tag %>
<%= @note.note.html_safe%>
</div>
<div>

  <%=link_to "Delete Note", note_path(@note), method: :delete, id: "button", class: "delete", data: {confirm: "Are you sure?"}%>
  <%=link_to "Edit Note", edit_note_path(@note), id: "button"%>

</div>
<div id="nav_container">

  <ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/feature_requests">Feature Requests</a></li>
    <li><a href="/notes">Note Pad</a></li>
  </ul>
</div>