<div class="note-container">
  <%= @note.created_at.strftime("%B %d, %Y") %>
<%= @note.title %>
<%= @note.tag %>
<%= @note.note.html_safe%>
</div>
<div>

  <%=link_to "Delete Note", note_path(@note), method: :delete, id: "button", class: "delete", data: {confirm: "Are you sure?"}%>
  <%=link_to "Edit Note", edit_note_path(@note), id: "button"%>

</div>
