<div class="users-sign-in">
<h2>Register to become a user</h2>
<%= form_for @user do |f| %>
    <% if @user %>
        <% if @user.errors %>
            <% @user.errors.full_messages.each do |message| %>
                <p class="error"><%= message %></p>
            <% end %>
        <% end %>
    <% end %>


    <%= f.label :email, class: "form-label"%>
   <p> <%= f.text_field :email %></p>

    <%= f.label :password, class: "form-label" %>
    <p><%= f.password_field :password %></p>

    <%= f.label :password_confirmation, class: "form-label" %>
    <p> <%= f.password_field :password_confirmation %></p>

    <%= f.submit class: "form-button", class: "btn btn-large btn-primary"  %>

<%end%>
</div>