<h2>Register to become a user</h2>

<%= form_for @user do |f| %>
    <% if @user %>
        <% if @user.errors %>
            <% @user.errors.full_messages.each do |message| %>
                <p class="error"><%= message %></p>
            <% end %>
        <% end %>
    <% end %>


    <%= f.label :email, class: "form-label"%>
    <%= f.text_field :email %>

    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit class: "form-button" %>

<%end%>
