<h2>Register to become a user</h2>

<%= form_for @user do |f| %>

    <%= f.label :email, class: "form-label"%>
    <%= f.text_field :email %>

    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password %>

    <%= f.submit class: "form-button" %>

<%end%>
