
<div class="bill_container">
  <div class="bill_search">
    <%= form_tag("/bill_tracker", method: "get") do %>
        <%= label_tag(:state, "State Abbreviation") %>
        <%= text_field_tag(:state, nil, placeholder: "CO") %>
        <%= label_tag(:bill, "Bill Number") %>
        <%= text_field_tag(:bill, nil, placeholder: "HB1030") %>
        <%= submit_tag "Search", class: "form-button", class: "btn btn-small btn-primary"  %>
    <p>Note: When searching for legislation, please remove any year indicator from the bill number.  For example, "HB13-1030" should be entered "HB1030"</p>
        <hr>
    <% end %>
  <% if @bill_results %>
      <!--<div class="results_container">-->

      <%= render "results" %>
        <!--</div>-->
        <div class="bill_note_container">

      <%= render "note" %>
            </div>
  <% end %>
        </div>
      </div>