
<div class="bill_container">
  <div class="bill_search">
    <%= form_tag("/bill_tracker", method: "get") do %>
        <%= label_tag(:year, "Year") %>
        <%= text_field_tag(:year, nil) %>
        <%= label_tag(:state, "State Abbreviation") %>
        <%= text_field_tag(:state, nil, placeholder: "eg: CO") %>
        <%= label_tag(:bill, "Bill Number") %>
        <%= text_field_tag(:bill, nil, placeholder: "eg: HB1030") %>
        <%= submit_tag "Search", class: "form-button", class: "btn btn-small btn-primary"  %>
    <p><%= link_to "Reset Form", bill_tracker_path, class: "btn btn-small btn-primary"  %>  Please note, if no year is entered, the default will be the current legislative session</p>
        <hr>
    <% end %>
    <% if @bill_results %>
    <% if @bill_results["status"] == "ERROR" %>
        <div class="errors" style="font-size: 20px; color:red"> There was an error with your search, please check your search and try again
        </div>
    <% else %>

      <%= render "results" %>
        <!--</div>-->
        <div class="bill_note_container">

      <%= render "note" %>
            </div>
  <% end %>
  <% end %>
        </div>
      </div>